@using Microsoft.AspNet.Identity

<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div id="phone" class="text-center mt-3 mb-3">
                @*@if (!string.IsNullOrEmpty(ConfigurationsHelper.Email))
                    {
                        <div class="mail-service">
                            <i class="fas fa-envelope"></i>
                            <a class="text-dark" href="mailto:sales@shrinkwrappingsupplies.co.uk" target="_blank">
                                @ConfigurationsHelper.Email
                            </a>
                        </div>
                    }*@
                @if (!string.IsNullOrEmpty(ConfigurationsHelper.PhoneNumber))
                {
                    <div class="phone-service">
                        <i class="fas fa-phone mr-1"></i>
                        <a class="text-dark" href="tell:01613665552" target="_blank">
                            <span>0161-366-5552 - Shrink Wrapping Supplies Ltd - Packaging Systems & Film Suppliers Since 1985</span>
                        </a>
                    </div>
                }
            </div>
            @*@if (AppDataHelper.IsMobile && !string.IsNullOrEmpty(ConfigurationsHelper.PhoneNumber))
            {
                <div class="d-sm-block d-md-none" style="display:inline-block; margin-top: 6px">
                    <div class="phone-service">
                        <i class="fas fa-phone" style="line-height: inherit"></i>
                        <a class="text-dark" href="tell:@ConfigurationsHelper.PhoneNumber" target="_blank">
                            @ConfigurationsHelper.PhoneNumber.SafeSubstring(8)
                        </a>
                    </div>
                </div>
            }*@

        </div>
    </div>
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="logo">
                        <a href="/web">
                            <img src="~/Content/images/site/logo2.png" />
                        </a>
                    </div>
                </div>           
                @*<div class="col-lg-6 col-md-6">
                        <form class="advanced-search" action="@Url.SearchProducts()">
                            <div class="input-group">
                                <input type="text" name="q" placeholder="@("PP.Header.SearchPlaceholder".Localized())" value="@(ViewBag.SearchTerm)" required>
                                <button type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>*@
                @*<div id="cart-info" class="col-lg-3 col-md-3 float-right">
                        <ul class="nav-right">
                            <li class="cart-icon cartMenu">
                                <span class="pointerCursor">
                                    <a>
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="countholder">0</span>
                                    </a>
                                    <span class="cart-price ltr-dir" dir="ltr"></span>
                                </span>
                                <div class="cart-hover">
                                    <div class="cart-items-modal"></div>
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border my-5 bloader" role="status" style="display:none">
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>

    <!-- Start new hamburger menu -->

    <div class="button">
        <a class="btn-open" href="#"></a>
    </div>
    <div class="overlay">
        <div class="wrap">
            <ul class="wrap-nav">
                <li>
                    <a href="#">About</a>
                    <ul>
                        <li class=""><a href="#">Packaging Machinery</a></li>
                        <li class=""><a href="#">Pallet Wrapping</a></li>
                        <li class=""><a href="#">Shrink Tunnels</a></li>
                        <li class=""><a href="#">Strapping</a></li>
                        <li class=""><a href="#">Shrink Films</a></li>
                        <li class=""><a href="#">Market Sectors</a></li>
                        <li class=""><a href="@Url.Home()">Online Shop</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Services</a>
                    <ul>
                        <li class=""><a href="#">Packaging Machinery</a></li>
                        <li class=""><a href="#">Pallet Wrapping</a></li>
                        <li class=""><a href="#">Shrink Tunnels</a></li>
                        <li class=""><a href="#">Strapping</a></li>
                        <li class=""><a href="#">Shrink Films</a></li>
                        <li class=""><a href="#">Market Sectors</a></li>
                        <li class=""><a href="@Url.Home()">Online Shop</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Work</a>
                    <ul>
                        <li class=""><a href="#">Packaging Machinery</a></li>
                        <li class=""><a href="#">Pallet Wrapping</a></li>
                        <li class=""><a href="#">Shrink Tunnels</a></li>
                        <li class=""><a href="#">Strapping</a></li>
                        <li class=""><a href="#">Shrink Films</a></li>
                        <li class=""><a href="#">Market Sectors</a></li>
                        <li class=""><a href="@Url.Home()">Online Shop</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                    <ul>
                        <li class=""><a href="#">Packaging Machinery</a></li>
                        <li class=""><a href="#">Pallet Wrapping</a></li>
                        <li class=""><a href="#">Shrink Tunnels</a></li>
                        <li class=""><a href="#">Strapping</a></li>
                        <li class=""><a href="#">Shrink Films</a></li>
                        <li class=""><a href="#">Market Sectors</a></li>
                        <li class=""><a href="@Url.Home()">Online Shop</a></li>
                    </ul>
                </li>               
            </ul>
            <ul class="wrap-nav">
                <li>
                    <a href="#">About</a>
                    <ul>
                        <li class=""><a href="#">Packaging Machinery</a></li>
                        <li class=""><a href="#">Pallet Wrapping</a></li>
                        <li class=""><a href="#">Shrink Tunnels</a></li>
                        <li class=""><a href="#">Strapping</a></li>
                        <li class=""><a href="#">Shrink Films</a></li>
                        <li class=""><a href="#">Market Sectors</a></li>
                        <li class=""><a href="@Url.Home()">Online Shop</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Services</a>
                    <ul>
                        <li class=""><a href="#">Packaging Machinery</a></li>
                        <li class=""><a href="#">Pallet Wrapping</a></li>
                        <li class=""><a href="#">Shrink Tunnels</a></li>
                        <li class=""><a href="#">Strapping</a></li>
                        <li class=""><a href="#">Shrink Films</a></li>
                        <li class=""><a href="#">Market Sectors</a></li>
                        <li class=""><a href="@Url.Home()">Online Shop</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Work</a>
                    <ul>
                        <li class=""><a href="#">Packaging Machinery</a></li>
                        <li class=""><a href="#">Pallet Wrapping</a></li>
                        <li class=""><a href="#">Shrink Tunnels</a></li>
                        <li class=""><a href="#">Strapping</a></li>
                        <li class=""><a href="#">Shrink Films</a></li>
                        <li class=""><a href="#">Market Sectors</a></li>
                        <li class=""><a href="@Url.Home()">Online Shop</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Work</a>
                    <ul>
                        <li class=""><a href="#">Packaging Machinery</a></li>
                        <li class=""><a href="#">Pallet Wrapping</a></li>
                        <li class=""><a href="#">Shrink Tunnels</a></li>
                        <li class=""><a href="#">Strapping</a></li>
                        <li class=""><a href="#">Shrink Films</a></li>
                        <li class=""><a href="#">Market Sectors</a></li>
                        <li class=""><a href="@Url.Home()">Online Shop</a></li>
                    </ul>
                </li>
            </ul>
            <div class="social">
                <a href="#">
                    <div class="social-icon">
                        <i class="fa fa-facebook"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="social-icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="social-icon">
                        <i class="fa fa-codepen"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="social-icon">
                        <i class="fa fa-behance"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="social-icon">
                        <i class="fa fa-dribbble"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="nav-item">
        <div class="container">
            @{ Html.RenderAction("CategoriesMenuIsLead", "Categories"); }
            
            <!--<nav class="nav-menu mobile-menu">
                <ul>-->
                    @*<li class=""><a href="#">Packaging Machinery</a></li>
                    <li class=""><a href="#">Pallet Wrapping</a></li>
                    <li class=""><a href="#">Shrink Tunnels</a></li>
                    <li class=""><a href="#">Strapping</a></li>
                    <li class=""><a href="#">Shrink Films</a></li>*@
                    <!--<li class=""><a href="@Url.StaticPage("ContactUs")">Contact us</a></li>
                    <li class=""><a href="@Url.Home()">Online Shop</a></li>
                </ul>
            </nav>-->
        </div>
    </div>
</header>

<div style="display:none">
    @{ Html.RenderAction("CategoriesMenuForMobile", "Categories"); }
</div>

@if (User.Identity.IsAuthenticated)
{
    <form id="logOffForm" method="post" action="@Url.Logoff()">
        @Html.AntiForgeryToken()
    </form>

    <script>
        $("#btnLogOff").click(function () {
            $("#logOffForm").submit();
        });
    </script>
}
