@model eCommerce.Web.ViewModels.PageViewModel
@{
	var baseModel = Model;

	if (baseModel == null)
	{
		baseModel = new eCommerce.Web.ViewModels.PageViewModel();
	}
}

<!DOCTYPE html>
<html lang="@AppDataHelper.CurrentLanguage.ShortCode.ToLower()" @(AppDataHelper.IsRTL ? "dir=rtl" : string.Empty)>
<head>
    @Html.Partial("_MetaTags", baseModel)
    @Html.Partial("_WebHeaderStylesScripts")
    @RenderSection("IncludeHeaderStylesScripts", false)
</head>
<body>
    <div class="wrapper">
    <div id="">
        <div class=""></div>
    </div>

    @Html.Partial("_WebHeader")
    
    @RenderBody()

    @Html.Partial("_WebFooter")
    @Html.Partial("_Variables")
    @Html.Partial("_WebFooterStylesScripts")
    @RenderSection("IncludeFooterStyleScripts", false)
</div>
</body>
</html>

